.main {
  margin: 50px 0;
  border: 1px solid lightgray;
  padding: 20px 20px;
}

.hidden {
  visibility: hidden;
}
.show {
  visibility: visible;
}

.result {
  width: 97.5%;
  border: 0;
  color: white;
  background-color: rgb(194, 205, 236);
  font-size: 25px;
  padding: 7% 0px;
  outline: none;
}

.clearbutton {
  width: 100%;
  margin-top: 10px;

  outline: none;

  padding: 5% 0px;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), sandybrown);
}

.custom-btn {
  margin-top: 10px;
width: 23%;
  outline: none;
  margin-left: auto;
  margin-right: auto;

  padding: 5% 0px;

  background-image: linear-gradient(to left 10%, rgba(255, 0, 0, 0), sandybrown);
  border: 0;
}
.btn50 {
  border: 0;
  margin-top: 10px;
  outline: none;
  width: 48%;
  background-image: linear-gradient(to left 10%, rgba(255, 0, 0, 0), sandybrown);
  padding: 5% 0px;

 
}

button:hover {
  background-image: none;
  background-color: rgb(195, 186, 186);
}
